In [9]:
# 백준 - ATM(11399)
n = int(input())

p = list(map(int, input().split()))

num = 0
p.sort()

for i in range(n):          #반복 : 덧셈의 횟수
    for j in range(0,i+1): # ???
        num += p[j]
    
print(num)

5
3 1 4 3 2
32

In [35]:
# 백준 - 동전 0(11047)
n, k = map(int, input().split())

coin = []

for i in range(n):
    coin.append(int(input()))

result = 0 

coin.sort(reverse=True)

for i in coin:
    result +=k//i
    k%=i

print(result)

10 4200
1
5
10
50
100
500
1000
5000
10000
50000
[50000, 10000, 5000, 1000, 500, 100, 50, 10, 5, 1]
6

In [38]:
# 백준 - 회의실 배정(1931) : X

In [42]:
# 백준 - 거스름돈(5585)

n = int(input())

k = 1000 - n

array = [500, 100, 50, 10, 5, 1]

count = 0

for coin in array:
    count += k//coin
    k %= coin 

print(count)

380
4